target
*.log
*.log.*
./taret
./target
./target/classes
target/**
*.settings
.metadata
build.sh
.springBeans
nbactions.xml
.classpath
.project
.mtj
.idea
.swp
*.iml
*.ipr
*.ids
*.iws
*.zip
*.idea
overlays/
./dhis-2/atlassian-ide-plugin.xml
./atlassian-ide-plugin.xml
./.git
./.gitattributes
./.gitignore
./.travis.yml
.DS_Store
dhis-2/projectFilesBackup
coverage
dist
node_modules
**/rebel.xml
Data Entry Forms/IPPF/IPPF-Afghanistan/2. AFGA-Service List-Static Clinic-Referral.html
Data Entry Forms/IPPF/IPPF-Afghanistan/2. AFGA-Outreach SS List-Referral.html
Data Entry Forms/IPPF/IPPF-Afghanistan/1. AFGA-Service List-Static Clinic-Services.html
Data Entry Forms/IPPF/IPPF-Afghanistan/1. AFGA-Outreach SS List-Services.html
OutputReports/DHIS2 Reports/HTML Reports/WHO Leprosy/Excel Report.html
OutputReports/DHIS2 Reports/HTML Reports/UPHMIS/UPHMIS 2.30 reports/MPR - JSSK_NEW (District Block).html
OutputReports/DHIS2 Reports/HTML Reports/UPHMIS/UPHMIS 2.30 reports/MPR - JSSK_NEW  (StateDivison).html
OutputReports/DHIS2 Reports/HTML Reports/UPHMIS/RAW_DATA_REPORTS(SQL_REPORTS)/UPHMISRawDataReportFeburary2019.sql
OutputReports/DHIS2 Reports/HTML Reports/Tibet/Out-Reach Data Report.html
OutputReports/DHIS2 Reports/HTML Reports/Tibet/IPD Data Report.html
OutputReports/DHIS2 Reports/HTML Reports/Tibet/Data import for schedular_updated.html
OutputReports/DHIS2 Reports/HTML Reports/Tibet/Data import for schedular_custom.html
OutputReports/DHIS2 Reports/HTML Reports/Tibet/Data import for schedular.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/monthly_cataract.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/YAG.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/SES.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/PHACO.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/Others ED.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/ED&KP.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/Cons Cat without IOL.html
OutputReports/DHIS2 Reports/HTML Reports/PUNJAB-HMIS/Cons Cat with IOL.html
OutputReports/DHIS2 Reports/HTML Reports/IPPF/SS Report/SS Report.html
OutputReports/DHIS2 Reports/HTML Reports/IPPF/SS Report/SS Report(Org Group Wise Selection).html
OutputReports/DHIS2 Reports/HTML Reports/HIV/ART_Updated_report.html
Data Entry Forms/WHO Leprosy/5 - Additional anti-leprosy medicine request data entry form_old.html
Data Entry Forms/WHO Leprosy/5 - Additional anti-leprosy medicine request data entry form.html
Data Entry Forms/WHO Leprosy/4 - Supply information data entry form_old.html
Data Entry Forms/WHO Leprosy/4 - Supply information data entry form.html
Data Entry Forms/WHO Leprosy/3 - Annual anti-leprosy medicine request data entry form_old.html
Data Entry Forms/WHO Leprosy/3 - Annual anti-leprosy medicine request data entry form.html
